<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">parneet kaur</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student">Student</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome, parneet kaur!</h1>
    <p class="lead">This is a Jumbotron element.</p>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">200535778</span>
    </div>
</footer>
